<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="mark-row">
          <svg class="logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.65 26.73"><polygon points="9.47 10.26 12.93 10.26 16.74 3.06 15.11 0 9.47 10.26"/><polygon points="13.39 2.92 18.76 13.93 21 10.26 15.22 0 13.39 2.92"/><polygon points="1.72 12.12 14.63 12.12 20.89 23.26 24.08 23.26 20 15.99 24.08 8.31 27.95 8.31 23.74 15.79 29.65 26.73 18.85 26.73 12.46 15.34 3.96 15.34 1.72 12.12"/><polygon points="5.37 17.25 9.11 17.25 5.84 23.11 9.11 23.11 12.17 18.15 14.09 21.82 11.42 26.45 0 26.45 5.37 17.25"/></svg>
          <div class="mark">ARIJESAMA.DEV</div>
        </div>
        <p>{{ i18n.t('footer.tagline') }}</p>
      </div>
      <div class="footer-col">
        <h5>{{ i18n.t('footer.navTitle') }}</h5>
        <a href="#about">{{ i18n.t('nav.about') }}</a>
        <a href="#projects">{{ i18n.t('nav.projects') }}</a>
        <a href="#experience">{{ i18n.t('nav.experience') }}</a>
        <a href="#contact">{{ i18n.t('nav.contact') }}</a>
      </div>
      <div class="footer-col">
        <h5>{{ i18n.t('footer.connectTitle') }}</h5>
        <a href="https://github.com/arijesama-coding/">GitHub</a>
        <a href="https://www.linkedin.com/in/manampiniaina-arijesa-577964386">LinkedIn</a>
        <a href="https://www.facebook.com/share/1C5WBrPLA6/">Facebook</a>
      </div>
    </div>
    <div class="footer-bottom">
      <span>{{ i18n.t('footer.rights') }}</span>
      <span>{{ i18n.t('footer.engineered') }}</span>
    </div>
  </div>
</footer>
